learnEasySub.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.learnEasy.com" xmlns="http://www.learnEasy.com " 
elementFormDefault="qualified">

<xs:element name="Subject_Details">

<xs:complexType>
<xs:sequence>
<xs:element name="subject_name" type="xs:string"/>
<xs:element name="subject_teacher" type="xs:string"/>
<xs:element name="subject_days" type="xs:string"/>
<xs:element name="subject_timings" type="xs:string"/>
</xs:sequence>
</xs:complexType>


</xs:element>
</xs:schema>